.btn {
    line-height: 38px;
    text-transform: capitalize;
}


/* ==== Main Wrapper Style Here ==== */
.main-wrapper .page-wrapper {
    background: #ffffff;
    margin-left: 280px;
}

.sidebar-folded .main-wrapper .page-wrapper {
    width: calc(100% - 70px);
    margin-left: 70px;
}

.table th,
.table td {
    white-space: normal;
    line-height: 22px !important;
}

/* Upper Header Style Here */

.navbar {
    box-shadow: none;
    width: 100%;
    height: 80px;
    left: 0px;
    padding: 12px 55px;
}

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
    max-width: 90px;
    max-height: 34px;
}

.navbar .navbar-content {
    padding: 0px;
    width: auto;
}

.navbar .navbar-content p {
    color: #3C3C3C;
    font-size: 12px;
    font-weight: 600;
}

.navbar .navbar-content .btn {
    font-size: 12px;
    line-height: 28px;
    text-transform: capitalize;
    margin-left: 20px;
}

/* Left Sidebar Style Here */

.sidebar {
    background-color: #378DAF;
    width: 280px;
}

.sidebar .sidebar-header {
    border: none;
    height: 80px;
    width: 100%;
    border-right: 0;
}

.sidebar .sidebar-header .sidebar-toggler {
    width: 20px;
    height: 20px;
    margin-right: -80px;
}

.sidebar-folded .sidebar .sidebar-header .sidebar-toggler {
    margin-right: -66px;
    transform: rotate(180deg);
}

.sidebar .sidebar-body {
    border: 0;
    background: #378DAF;
    box-shadow: none;
    max-height: calc(100% - 90px);
}

.sidebar .sidebar-body .nav {
    min-height: 100%;
    padding: 0 0 60px;
    position: relative;
}

.sidebar .sidebar-body .nav .nav-item {
    padding-bottom: 0px;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
    padding: 4px 10px 4px 60px;
    height: auto;
    border-radius: 0px;
    border-left: 2px solid transparent;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    max-width: 260px;
    width: 100%;
}

.sidebar-folded .sidebar .sidebar-body .nav .nav-item .nav-link {
    padding: 0 0 0 24px;
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link,
.sidebar .sidebar-body .nav .nav-item.active .nav-link {
    background-color: rgb(255 255 255 / 10%);
    color: #ffffff;
    font-weight: 700;
    border-left-color: #ffffff;
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    display: none;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    margin: 0px;
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title {
    margin-left: 4px;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-icon {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    top: 4px;
    width: 30px;
    height: 34px;
    position: absolute;
    left: 16px;
}

.dashboard-icon {
    background-image: url(../img/side-icon01.svg);
}

.my-brands-icon {
    background-image: url(../img/side-icon02.svg);
}

.brand-portfolio-icon {
    background-image: url(../img/side-icon03.svg);
}

.deepweb-tool-box-icon {
    background-image: url(../img/side-icon04.svg);
}

.profile-icon {
    background-image: url(../img/side-icon05.svg);
}

.side-user-icon {
    background-image: url(../img/side-admin-user-icon.svg);
}

.side-portal-icon {
    background-image: url(../img/side-portal-icon.svg);
}

.side-email-icon {
    background-image: url(../img/side-email-icon.svg);
}

.side-content-icon {
    background-image: url(../img/side-content-icon.svg);
}

.side-banner-icon {
    background-image: url(../img/side-banner-icon.svg);
}

.side-feature-icon {
    background-image: url(../img/side-feature-icon.svg);
}

.side-faq-icon {
    background-image: url(../img/side-faq-icon.svg);
}

.side-dynamic-icon {
    background-image: url(../img/side-dynamic-icon.svg);
}

.side-setting-icon {
    background-image: url(../img/side-setting-icon.svg);
}

.side-domain-icon {
    background-image: url(../img/side-domain-icon.svg);
}

.side-industry-icon {
    background-image: url(../img/side-industry-icon.svg);
}

.side-rating-icon {
    background-image: url(../img/side-rating-icon.svg);
}

.side-newslatter-icon {
    background-image: url(../img/side-newslatter-icon.svg);
}

.side-promocode-icon {
    background-image: url(../img/side-promocode-icon.svg);
}

.sidebar .sidebar-body .nav .nav-item.nav-item-profile {
    padding-left: 14px;
}

.sidebar .sidebar-body .nav .nav-item.nav-item-profile {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar-profile {
    position: relative;
    padding-left: 46px;
}

.sidebar-profile span {
    display: block;
    height: 36px;
    width: 36px;
    position: absolute;
    left: 0;
}

.sidebar-profile span img {
    border-radius: 50%;
}

.sidebar-profile p {
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    padding: 4px 0 2px;
}

.sidebar-profile a {
    color: #ffffff;
    font-size: 10px;
    line-height: 16px;
    display: inline-block;
    opacity: 0.5;
}

/* ==== Admin Footer Style Here ==== */

.footer {
    background: #ffffff;
    color: #6A6A6A;
    padding: 0 15px;
    border-top: 1px solid #ffffff;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    font-size: 12px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 500;
    margin-top: auto;
}

.footer p {
    line-height: 33px;
}

.footer p a {
    color: #6A6A6A;
}

/* Main Content Wrapper Style Here */

.main-wrapper .page-wrapper .page-content {
    box-shadow: 4px 9px 5px -7px #00000019 inset;
    -webkit-box-shadow: 4px 9px 5px -7px #00000019 inset;
    -moz-box-shadow: 4px 9px 5px -7px rgba(0, 0, 0, 0.75) inset;
    padding: 25px;
    margin-top: 80px;
}

.page-content>.grid-margin {
    margin-bottom: 15px;
}

.content-head {
    color: #393939;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}

.content-head span {
    height: 30px;
    width: 30px;
}

.content-head span img {
    max-width: 30px;
    max-height: 30px;
}

.admin-head .btn {
    font-size: 11px;
    font-weight: 600;
    line-height: 36px;
}

/* Dashboard Page Style Here */

.report-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #00000040;
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.report-box h4 {
    color: #393939;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 0 20px;
}

.list-box {
    padding: 20px;
}

.list-box li {
    color: #393939;
    display: block;
    font-size: 17px;
    position: relative;
    line-height: 30px;
}

.list-box li:not(:last-child) {
    margin-bottom: 16px;
}

.list-box li span {
    border-radius: 50%;
    display: block;
    font-size: 12px;
    height: 26px;
    width: 26px;
    position: absolute;
    line-height: 25px;
    right: 0;
    top: 2px;
    margin: 0;
    text-align: center;
}

.domain-list li {
    background-image: url(../img/grey-company-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 30px;
    padding-left: 40px;
}

.rating-box {
    background-color: #F4F6FF;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}


/* My Brand Page Style Here */

.table thead th {
    border-top: 0;
    border-bottom: 1px solid #EBEFF2;
    font-weight: 600;
    font-size: 12px;
    padding: 0 16px;
    text-transform: capitalize;
    color: #98A5B6;
    height: 40px;
    vertical-align: middle;
}

.table tbody td {
    border-top: 1px solid #EBEFF2;
    color: #707683;
    font-size: 12px;
    /* line-height: 30px; */
    padding: 8px 16px;
    height: 40px;
    vertical-align: top;
}

.table tbody td.name {
    color: #323C47;
    font-weight: 600;
}

.table tbody td img,
.action-button a img {
    width: 24px;
    height: 24px;
    border-radius: 0;
    /*margin-right: 30px;*/
}

.badge {
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    line-height: 30px;
    margin-right: 12px;
    height: 30px;
    width: 30px;
}

.table tbody td .btn {
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
}

.table tbody td .blue-link {
    color: #378DAF;
    font-weight: 600;
    text-decoration: underline;
    margin-right: 10px;
}

.action-button a,
.action-button form {
    display: inline-block;
    margin: 0 4px;
}


.action-button button {
    border: 0;
    background-color: transparent;
    padding: 0;
    display: inline-block;
}

textarea.form-control {
    height: 80px;
    line-height: 1.6;
}

.pagination {
    display: block;
    padding: 14px 0px;
}

.pagination nav>.flex {
    display: none;
}

.pagination nav>.hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination nav>.hidden>div>.shadow-sm {
    box-shadow: none;
}

.pagination nav>.hidden>div>span>span>.leading-5,
.pagination nav>.hidden>div>span>a {
    padding: 0 !important;
    border: 1px solid #D0F1FF !important;
    box-shadow: 0px 0px 6px #d0f1ff;
    border-radius: 4px;
    color: #707683;
    font-size: 13px;
    height: 28px;
    width: 28px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    vertical-align: top;
}

.pagination nav>.hidden>div>span>span[aria-current="page"]>.leading-5 {
    background-color: #378DAF !important;
    color: #ffffff;
}

/* Domain Report Page Style Here */

.domain-report-section .table thead th {
    background-color: #D0F1FF;
    color: #393939;
    padding: 14px;
}

.domain-report-section .table tbody td {
    color: #393939;
    padding: 14px;
}

/* Buy Credit Page Style Here */

.table tbody td .form-control {
    background-color: #F0F0F074;
    border: 1px solid #EFEFEF;
    border-radius: 50px;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    height: 30px;
}

.table tbody td .custom-dropdown {
    display: inline-block;
    width: 100%;
    max-width: 200px;
}

.table tbody td select.form-control {
    background-color: #ffffff;
    border-color: #378DAF;
    border-radius: 50px;
    color: #378DAF;
    height: 30px;
}

.table tbody td .custom-dropdown::after {
    background-image: url('../img/blue-down-arrow.svg');
    background-size: 14px;
    height: 28px;
}

/* Profile Page Style Here */

.profile-section .report-box {
    padding: 30px 40px;
}

.profile-image span {
    border-radius: 50%;
    display: block;
    height: 145px;
    width: 145px;
}

.profile-image span img {
    border-radius: 50%;
}

.profile-content {
    padding-left: 20px;
}

.profile-content h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    padding: 10px 0;
}

.profile-content p {
    color: #9F9F9F;
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 16px;
}

.profile-link a {
    font-size: 16px;
    line-height: 20px;
    padding-right: 30px;
}

.password-icon {
    background-image: url(../img/blue-password-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 20px;
    padding-left: 26px;
}

.edit-icon {
    background-image: url(../img/blue-edit-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 20px;
    padding-left: 26px;
}

/* Head Form Style Here */

.form-inline.head-form-box {
    display: block;
    max-width: 500px;
    width: 100%;
    padding: 0;
}

.head-form-box .row {
    margin: 0 -5px;
}

.head-form-box .row [class*=col-] {
    padding: 0 5px;
}

.head-form-box .form-group .form-control {
    border: 1px solid #cccccc;
    height: 38px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.head_search {
    position: relative;
    padding-right: 50px;
}

.head_search .btn.btn-success {
    position: absolute;
    top: 0;
    border-radius: 0 50px 50px 0;
    height: 38px;
    padding: 0 10px;
    width: 50px;
}

.filter-form-group span {
    display: block;
    max-width: 135px;
    width: 100%;
    font-size: 13px;
}

.no-record {
    color: #FB6574;
    padding: 20px 16px;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
}

.form-control,
select.form-control,
select,
.email-compose-fields .select2-container--default select.select2-selection--multiple,
.select2-container--default select.select2-selection--single,
.select2-container--default .select2-selection--single select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #b1b1b1;
}
